<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <!-- Allow NuGet to download missing packages -->
        <add key="enabled" value="True" />
        <!-- Automatically check for missing packages during build in Visual Studio -->
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
        <add key="Episerver Beta Program feed" value="https://pkgs.dev.azure.com/EpiserverEngineering/netCore/_packaging/beta-program/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials />
    <!-- Used to specify which one of the sources are active -->
    <activePackageSource>
        <!-- this tells that all of them are active -->
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <!-- Used to disable package sources  -->
    <disabledPackageSources />
</configuration>